<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_6187ac58b4844eb0956e92d887072a93 {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
</head>
<body>    
    
            <div class="folium-map" id="map_6187ac58b4844eb0956e92d887072a93" ></div>
        
</body>
<script>    
    
            var map_6187ac58b4844eb0956e92d887072a93 = L.map(
                "map_6187ac58b4844eb0956e92d887072a93",
                {
                    center: [0.0, 0.0],
                    crs: L.CRS.EPSG3857,
                    zoom: 3,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_5197865563a44827b49123dfe66bb57e = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_6187ac58b4844eb0956e92d887072a93);
        
    
            var feature_group_733e137821ad42cda6132a1b382ca65b = L.featureGroup(
                {}
            ).addTo(map_6187ac58b4844eb0956e92d887072a93);
        
    
            var marker_396c457e3ba643da91e300bb825cbe85 = L.marker(
                [36.7014631, -118.755997],
                {"color": "grey", "fillOpacity": 0.5}
            ).addTo(feature_group_733e137821ad42cda6132a1b382ca65b);
        
    
        var popup_415bd4a14aff42cbb8be85c39e8f8d8b = L.popup({"maxWidth": "100%"});

        
            var html_3727245e3eec4559bcbd4e6c51e33f06 = $(`<div id="html_3727245e3eec4559bcbd4e6c51e33f06" style="width: 100.0%; height: 100.0%;">moxie</div>`)[0];
            popup_415bd4a14aff42cbb8be85c39e8f8d8b.setContent(html_3727245e3eec4559bcbd4e6c51e33f06);
        

        marker_396c457e3ba643da91e300bb825cbe85.bindPopup(popup_415bd4a14aff42cbb8be85c39e8f8d8b)
        ;

        
    
    
            var marker_942436fce47547a6a2bea477d09406ca = L.marker(
                [26.5450001, 117.842778],
                {"color": "grey", "fillOpacity": 0.5}
            ).addTo(feature_group_733e137821ad42cda6132a1b382ca65b);
        
    
        var popup_2e69c294acbf4eb18039204bc42b2d2b = L.popup({"maxWidth": "100%"});

        
            var html_3ef3a57fa12c4ff0868c01037781b1eb = $(`<div id="html_3ef3a57fa12c4ff0868c01037781b1eb" style="width: 100.0%; height: 100.0%;">HGJart</div>`)[0];
            popup_2e69c294acbf4eb18039204bc42b2d2b.setContent(html_3ef3a57fa12c4ff0868c01037781b1eb);
        

        marker_942436fce47547a6a2bea477d09406ca.bindPopup(popup_2e69c294acbf4eb18039204bc42b2d2b)
        ;

        
    
    
            var marker_322f1e1324a642f29abd34f89718d876 = L.marker(
                [37.7790262, -122.419906],
                {"color": "grey", "fillOpacity": 0.5}
            ).addTo(feature_group_733e137821ad42cda6132a1b382ca65b);
        
    
        var popup_7f7a0c9d2b844e7eb563e1509720752d = L.popup({"maxWidth": "100%"});

        
            var html_cf3626b7fccc474698e06bdefe1898e8 = $(`<div id="html_cf3626b7fccc474698e06bdefe1898e8" style="width: 100.0%; height: 100.0%;">paraga</div>`)[0];
            popup_7f7a0c9d2b844e7eb563e1509720752d.setContent(html_cf3626b7fccc474698e06bdefe1898e8);
        

        marker_322f1e1324a642f29abd34f89718d876.bindPopup(popup_7f7a0c9d2b844e7eb563e1509720752d)
        ;

        
    
    
            var marker_f960e2f223bf4565869a3058b1515d41 = L.marker(
                [37.7884969, -122.3558473],
                {"color": "grey", "fillOpacity": 0.5}
            ).addTo(feature_group_733e137821ad42cda6132a1b382ca65b);
        
    
        var popup_7983232007384f2d8772d15cb324ece3 = L.popup({"maxWidth": "100%"});

        
            var html_5590fecfe4ca405fa071d574d2ed4879 = $(`<div id="html_5590fecfe4ca405fa071d574d2ed4879" style="width: 100.0%; height: 100.0%;">BillyM2k</div>`)[0];
            popup_7983232007384f2d8772d15cb324ece3.setContent(html_5590fecfe4ca405fa071d574d2ed4879);
        

        marker_f960e2f223bf4565869a3058b1515d41.bindPopup(popup_7983232007384f2d8772d15cb324ece3)
        ;

        
    
    
            var marker_154bc14a5fa143c9af51365ff9ce51b4 = L.marker(
                [33.683073949999994, -117.94479783055465],
                {"color": "grey", "fillOpacity": 0.5}
            ).addTo(feature_group_733e137821ad42cda6132a1b382ca65b);
        
    
        var popup_25c4ff499f5648a698b313c3fb605a85 = L.popup({"maxWidth": "100%"});

        
            var html_fdd8a7901bb346c5909a32308c27d90a = $(`<div id="html_fdd8a7901bb346c5909a32308c27d90a" style="width: 100.0%; height: 100.0%;">inspiration4x</div>`)[0];
            popup_25c4ff499f5648a698b313c3fb605a85.setContent(html_fdd8a7901bb346c5909a32308c27d90a);
        

        marker_154bc14a5fa143c9af51365ff9ce51b4.bindPopup(popup_25c4ff499f5648a698b313c3fb605a85)
        ;

        
    
    
            var marker_3efd575e3ea94cb3b0ca0df21a7c048b = L.marker(
                [39.7837304, -100.445882],
                {"color": "grey", "fillOpacity": 0.5}
            ).addTo(feature_group_733e137821ad42cda6132a1b382ca65b);
        
    
        var popup_6cfea3efadcc4f7faf10fd1cde7e7dde = L.popup({"maxWidth": "100%"});

        
            var html_39448ea3a220411f84e2de83bdf1bb60 = $(`<div id="html_39448ea3a220411f84e2de83bdf1bb60" style="width: 100.0%; height: 100.0%;">gigadgets_</div>`)[0];
            popup_6cfea3efadcc4f7faf10fd1cde7e7dde.setContent(html_39448ea3a220411f84e2de83bdf1bb60);
        

        marker_3efd575e3ea94cb3b0ca0df21a7c048b.bindPopup(popup_6cfea3efadcc4f7faf10fd1cde7e7dde)
        ;

        
    
    
            var marker_0c3f5e9ab3ff4e1e9b135eae8fbe30a3 = L.marker(
                [36.3613705, -82.4000853],
                {"color": "grey", "fillOpacity": 0.5}
            ).addTo(feature_group_733e137821ad42cda6132a1b382ca65b);
        
    
        var popup_d0d7e580386346d880bb612a6f661d50 = L.popup({"maxWidth": "100%"});

        
            var html_c0b9daecd77f4028bd9c3248516b6857 = $(`<div id="html_c0b9daecd77f4028bd9c3248516b6857" style="width: 100.0%; height: 100.0%;">slashdot</div>`)[0];
            popup_d0d7e580386346d880bb612a6f661d50.setContent(html_c0b9daecd77f4028bd9c3248516b6857);
        

        marker_0c3f5e9ab3ff4e1e9b135eae8fbe30a3.bindPopup(popup_d0d7e580386346d880bb612a6f661d50)
        ;

        
    
    
            var marker_c2802b6726cf44cb9f1ac2dfa7869c08 = L.marker(
                [55.04104775, 9.810356535653737],
                {"color": "grey", "fillOpacity": 0.5}
            ).addTo(feature_group_733e137821ad42cda6132a1b382ca65b);
        
    
        var popup_f917baea58ab4a97a7f8fdf41dc22d5e = L.popup({"maxWidth": "100%"});

        
            var html_b03d2efd22f3455db9672703becf72fc = $(`<div id="html_b03d2efd22f3455db9672703becf72fc" style="width: 100.0%; height: 100.0%;">redditSpacePorn</div>`)[0];
            popup_f917baea58ab4a97a7f8fdf41dc22d5e.setContent(html_b03d2efd22f3455db9672703becf72fc);
        

        marker_c2802b6726cf44cb9f1ac2dfa7869c08.bindPopup(popup_f917baea58ab4a97a7f8fdf41dc22d5e)
        ;

        
    
    
            var marker_2e22c9e2e82a446ab642d5e60a59dc55 = L.marker(
                [39.7085736, -105.0846694],
                {"color": "grey", "fillOpacity": 0.5}
            ).addTo(feature_group_733e137821ad42cda6132a1b382ca65b);
        
    
        var popup_cbaba1392bcd46fd8b32749f0c1d6031 = L.popup({"maxWidth": "100%"});

        
            var html_69578a20cc4e4068b6d4fc6393856873 = $(`<div id="html_69578a20cc4e4068b6d4fc6393856873" style="width: 100.0%; height: 100.0%;">TheMarsSociety</div>`)[0];
            popup_cbaba1392bcd46fd8b32749f0c1d6031.setContent(html_69578a20cc4e4068b6d4fc6393856873);
        

        marker_2e22c9e2e82a446ab642d5e60a59dc55.bindPopup(popup_cbaba1392bcd46fd8b32749f0c1d6031)
        ;

        
    
    
            var marker_f0b7a5abc99444f38b8c717d6dd66a04 = L.marker(
                [40.7127281, -74.0060152],
                {"color": "grey", "fillOpacity": 0.5}
            ).addTo(feature_group_733e137821ad42cda6132a1b382ca65b);
        
    
        var popup_9ff0ac1b210b4f4cae43c2ec950b3ceb = L.popup({"maxWidth": "100%"});

        
            var html_992b2e51481e4ee9852471d430ce9dcd = $(`<div id="html_992b2e51481e4ee9852471d430ce9dcd" style="width: 100.0%; height: 100.0%;">CoinDesk</div>`)[0];
            popup_9ff0ac1b210b4f4cae43c2ec950b3ceb.setContent(html_992b2e51481e4ee9852471d430ce9dcd);
        

        marker_f0b7a5abc99444f38b8c717d6dd66a04.bindPopup(popup_9ff0ac1b210b4f4cae43c2ec950b3ceb)
        ;

        
    
</script>